    </div>

<footer class="main-footer">

    <div class="vertical-container">

        <div class="wrapper">

            <p class="copy">&copy; Kumy 2014 - All Rights Reserved</p>

            <ul class="social">
                <li><a href="http://twitter.com/koomerang">Twitter</a></li>
                <li><a href="http://github.com/koomerang/">GitHub</a></li>
                <li><a href="http://uk.linkedin.com/pub/kumaran-veluppillai/12/637/751/">LinkedIn</a></li>
            </ul>

        </div>

    </div>

</footer>
